# macOS
.DS_Store
.AppleDouble
.LSOverride

# Processing
*.autosave
application.*/
build-tmp/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Data files
data/video.mp4
